* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: yellow;
  padding: 15px;
  height: 18vh;
}

button {
  width: 200px;
  height: 50px;
}

main p {
  font-size: 200px;
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  z-index: -1;
  position: absolute;
  height: 82vh;
  background-color: yellow;
}
