body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.dark {
  background-color: #000;
  animation: toggleLightOff 1s;
}

.light {
  animation: toggleLightOn 1s;
}

.toggle-btn {
  padding: 15px 25px;
  border: 2px solid #000;
  border-radius: 5px;
}

.lightenedBorder {
  border: 2px solid rgb(248, 237, 173);
  box-shadow: 0 0 25px 0 gold;
  background-color: #000;
  color: #fff;
}

@keyframes toggleLightOff {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #000;
  }
}

@keyframes toggleLightOn {
  0% {
    background-color: #000;
  }
  100% {
    background-color: #fff;
  }
}
